@{
    ViewData["Title"] = "Home Page";
}

@model List<Subdivision>

<br />
<br />
<table class="table">
    <tdead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>IsActive</th>
            <th>MainId</th>
        </tr>
    </tdead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.IsActive</td>
                <td>@item.MainId</td>
            </tr>
        }
    </tbody>
</table>
